@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);a:focus {
  color: #fff;
  text-decoration: none;
}

* {
  font-family: 'Open Sans', sans-serif;
  outline: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.show_mobil {
  display: none;
}

@media screen and (max-width: 1px) {
  .show_mobil {
    display: block;
  }
}

.show_tam {
  display: block;
}

@media screen and (max-width: 1px) {
  .show_tam {
    display: none;
  }
}

body {
  background: #0E1127;
  color: #fff;
  font-size: 14px;
}

body a {
  color: #fff;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
  color: #fff;
}

body ul,
body ol {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

input {
  color: #000;
}

.center {
  width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 1px) {
  .center {
    width: 100%;
  }
}

.clear {
  clear: both;
}

#header {
  padding-top: 35px;
  background: #422897;
  background: -webkit-gradient(left top, right top, color-stop(0%, #422897), color-stop(100%, #874eab));
  background: -webkit-gradient(linear, left top, right top, from(#422897), to(#874eab));
  background: linear-gradient(to right, #422897 0%, #874eab 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#422897', endColorstr='#874eab', GradientType=1 );
}

@media screen and (max-width: 1px) {
  #header {
    padding-top: 10px !important;
  }
}

#header .top .logo {
  float: left;
  width: 200px;
  font-weight: bold;
  font-size: 31px;
  margin-top: -5px;
}

#header .top .search {
  float: left;
  width: 574px;
  text-align: center;
  position: relative;
}

#header .top .search input {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  width: 300px;
}

#header .top .search button {
  background: transparent;
  cursor: pointer;
  border: none;
  color: #777;
  position: absolute;
  margin-left: -35px;
  top: 14px;
}

#header .top .search button:hover {
  color: #000;
}

#header .top .user {
  float: right;
  width: 250px;
}

#header .top .user .user-button {
  padding: 6px 20px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  display: inline-block;
  margin-left: 20px;
  -webkit-transition: 300ms background, color;
  transition: 300ms background, color;
  font-weight: 600;
}

@media screen and (max-width: 1px) {
  #header .top .user .user-button {
    font-size: 12px !important;
    padding: 3px 10px !important;
    margin-top: 5px;
  }
}

#header .top .user .giris:hover {
  background: rgba(255, 255, 255, 0.3);
}

#header .top .user .kayit {
  background: #c9364f;
  color: #fff;
  border-color: #c9364f;
}

#header .top .user .kayit:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

#header .top .user .giris_yapildi img {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

#header .top .user .giris_yapildi .name {
  float: right;
  line-height: 40px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 21px;
}

@media screen and (max-width: 1px) {
  #header .top .user .giris_yapildi .name {
    display: none;
  }
}

@media screen and (max-width: 1px) {
  #header .top .logo {
    float: left;
    width: auto;
    font-size: 17px;
    padding-left: 15px;
    padding-top: 14px;
  }

  #header .top .search {
    float: none !important;
    width: 100% !important;
    margin-top: 10px;
  }

  #header .top .search input {
    width: 300px;
  }

  #header .top .user {
    float: none;
    width: auto;
    text-align: right;
    margin-right: 15px;
  }

  #header .top .user img {
    margin-left: 20px;
  }
}

#header .menu {
  margin-top: 35px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}

#header .menu ul li {
  float: none;
  display: inline-block;
}

#header .menu ul li a {
  line-height: 45px;
  padding-top: 3px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  border-bottom: 3px solid transparent;
  -webkit-transition: 300ms border-color;
  transition: 300ms border-color;
}

#header .menu ul li a.aktif,
#header .menu ul li a:hover {
  border-color: orange;
}

#header .menu ul li a i {
  color: orange;
}

@media screen and (max-width: 1px) {
  #header .menu ul li {
    display: list-item !important;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  #header .menu ul li a {
    width: 100%;
  }
}

#header .speacial-menu {
  display: none;
}

#header .speacial-menu ul li {
  float: left;
  margin-right: 20px;
}

#header .speacial-menu ul li a {
  line-height: 50px;
  color: #ddd;
}

#header .speacial-menu ul li a i {
  color: orange;
  margin-right: 5px;
}

#header .speacial-menu ul li a:hover {
  color: #fff;
}

h1.renkli {
  font-size: 15px;
  font-weight: 600;
  border-bottom: 3px solid rgba(255, 255, 255, 0.05);
  padding-bottom: 15px;
}

h1.renkli span {
  display: inline;
  padding-bottom: 13px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #576ee2;
}

h1.renkli a {
  float: right;
  color: orange;
  -webkit-transition: 500ms color;
  transition: 500ms color;
}

h1.renkli a:hover {
  color: #fff;
}

#slider .owl-nav {
  display: none;
}

.film-afis {
  position: relative;
  opacity: 0.8;
}

.film-afis a {
  color: #fff !important;
  text-decoration: none !important;
}

.film-afis:hover {
  opacity: 1;
}

.film-afis img {
  border-radius: 3px;
  height: 243px;
}

.film-afis .puan {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.56);
  font-weight: bold;
  border-radius: 52px;
}

.film-afis .golge {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#000));
  background: linear-gradient(transparent 50%, #000);
  border-radius: 5px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 52px;
}

.film-afis .info {
  position: relative;
  bottom: 50px;
  padding: 5px;
}

.film-afis .info .name {
  font-weight: bold;
}

.film-afis .info .stars .light {
  color: orange;
}

#homeView .left {
  float: left;
  width: 250px;
}

#homeView .left h1.renkli span {
  border-color: #fa3556;
}

#homeView .left ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

#homeView .left ul li a {
  line-height: 40px;
  padding-left: 10px;
}

#homeView .left ul li a i {
  color: orange;
  margin-right: 5px;
  font-size: 16px;
}

#homeView .left ul.kategoriler li a {
  display: block;
  color: #ccc;
}

#homeView .left ul.kategoriler li a:hover {
  color: #fff;
}

#homeView .left ul.kategoriler li a i {
  float: right;
  margin: 0;
  color: #777;
  margin-top: 10px;
  font-size: 21px;
}

#homeView .left ul.kategoriler li a span {
  color: #3e425d;
}

#homeView .filmler {
  float: left;
  margin-left: 20px;
  width: 754px;
}

#homeView .filmler ul li {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 173px;
  height: 260px;
}

#homeView .filmler ul li:nth-child(4n) {
  margin-right: 0;
}

#homeView .filmler ul li img {
  width: 100%;
  height: 260px;
}

@media screen and (max-width: 1px) {
  #homeView .filmler {
    float: none;
    width: 100%;
    margin-left: 0;
  }

  #homeView .filmler li {
    margin-right: 15px !important;
  }

  #homeView .filmler li:nth-child(2n) {
    margin-right: 0 !important;
  }

  #homeView .left {
    float: none;
    display: none;
  }
}

#cage {
  min-height: 700px;
}

@media screen and (max-width: 1px) {
  #cage {
    padding: 5px;
    min-height: 400px !important;
  }
}

#izle {
  position: relative;
}

#izle .izle-bg {
  min-height: 610px;
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  z-index: -1;
  opacity: 0.1;
  background-repeat: no-repeat;
  background-size: cover;
}

#izle .izle-film {
  z-index: 1;
}

#izle #player {
  margin-top: 20px;
}

#izle #player .top .select {
  position: relative;
  float: left;
  padding: 7px 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  margin-right: 20px;
  border-radius: 50px;
  color: #ccc;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

#izle #player .top .select:hover {
  background: rgba(255, 255, 255, 0.3);
}

#izle #player .top .select .menusu {
  display: none;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.32);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.32);
  position: absolute;
  background: #fff;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 50px;
}

#izle #player .top .select .menusu li {
  padding: 10px;
  color: #222;
  right: 0;
  border-bottom: 1px solid #ddd;
}

#izle #player .top .select .menusu li:last-child {
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#izle #player .top .select .menusu li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#izle #player .top .select .menusu li:hover {
  background: #ddd;
}

#izle #player .player {
  margin-top: 20px;
}

#izle #player .player iframe {
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.32);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.32);
  width: 100%;
  height: 500px;
}

#izle #player .info {
  background: #090D1C;
  min-height: 300px;
  margin-top: 20px;
  padding-top: 20px;
}

#izle #player .info .left {
  float: left;
  margin-right: 20px;
}

#izle #player .info .left img {
  width: 150px;
  border-radius: 5px;
}

#izle #player .info .right {
  float: left;
  width: 850px;
}

#izle #player .info .right .name h1 {
  margin: 0;
  font-size: 21px;
  float: left;
  margin-right: 20px;
}

#izle #player .info .right .name ul {
  float: left;
  margin-top: 2px;
}

#izle #player .info .right .name ul li {
  float: left;
  margin-right: 20px;
  font-weight: 600;
  color: #777;
}

#izle #player .info .right .name ul li span {
  color: orange;
}

#izle #player .info .right .kats {
  margin-top: 15px;
}

#izle #player .info .right .kats ul li {
  float: left;
  margin-right: 10px;
}

#izle #player .info .right .kats ul li a {
  padding: 5px 20px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: inline-block;
  border-radius: 50px;
  color: #ccc;
  font-size: 13px;
}

#izle #player .info .right .kats ul li a:hover {
  border-color: orange;
  color: #fff;
}

#izle #player .info .right .konu {
  margin-top: 25px;
}

#izle #player .info .right .konu h3 {
  margin: 0;
  margin-bottom: 10px;
  color: #aaa;
  font-size: 14px;
}

#izle #player .info .right .konu p {
  color: #414f84;
}

@media screen and (max-width: 1px) {
  #izle .top {
    text-align: center;
  }

  #izle .top .select {
    float: none !important;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 10px !important;
  }

  #izle iframe {
    width: 100% !important;
    height: 200px !important;
  }

  #izle .info {
    text-align: center;
  }

  #izle .info .left {
    float: none !important;
    text-align: center !important;
    margin: 0 !important;
  }

  #izle .info .right {
    float: none !important;
    width: 100% !important;
  }

  #izle .info .right h1 {
    float: none !important;
    margin: 0 !important;
    margin-top: 20px !important;
  }

  #izle .info .right li {
    float: none !important;
    display: inline-block !important;
  }

  #izle .info .right .konu {
    text-align: justify;
  }
}

#kategoriler {
  margin-top: 50px;
}

@media screen and (max-width: 1px) {
  #kategoriler h1 {
    font-size: 14px !important;
  }
}

#kategoriler h1 {
  margin-bottom: 50px;
  font-size: 21px;
}

#kategoriler h1 span {
  border-color: green;
}

#kategoriler h1 .orange {
  display: inline;
  color: orange;
}

#kategoriler ul.kat_films li {
  width: 307px;
  height: 173px;
  float: left;
  width: 30%;
  margin-bottom: 50px;
  margin-right: 50px;
  position: relative;
}

#kategoriler ul.kat_films li:nth-child(3n) {
  margin-right: 0;
}

#kategoriler ul.kat_films li img {
  width: 100%;
  border-radius: 5px;
}

#kategoriler ul.kat_films li .name {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.62);
  font-size: 21px;
  font-weight: bold;
  border-radius: 5px;
  padding-top: 70px;
  -webkit-transition: 300ms background;
  transition: 300ms background;
}

#kategoriler ul.kat_films li .name:hover {
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1px) {
  #kategoriler li {
    width: 100% !important;
    height: 205px !important;
  }
}

#arsiv .left {
  float: left;
  width: 200px;
}

#arsiv .left ul li {
  padding: 5px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 600;
}

#arsiv .left ul li i {
  width: 20px;
}

#arsiv .left .list a {
  display: block;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}

#arsiv .left .list a i {
  width: 20px;
  color: orange;
}

#arsiv .left .list a:hover {
  background: rgba(255, 255, 255, 0.2);
}

#arsiv .sonuclar {
  float: left;
  margin-left: 20px;
  width: 803px;
}

#arsiv .sonuclar h1 span {
  border-color: #fa3556;
}

#arsiv .sonuclar ul.sonuclar_ul li.sonuclar_li {
  float: left;
  width: 48%;
  height: 217px;
  margin-right: 4%;
  margin-bottom: 4%;
  position: relative;
}

#arsiv .sonuclar ul.sonuclar_ul li.sonuclar_li:nth-child(2n) {
  margin-right: 0;
}

#arsiv .sonuclar ul.sonuclar_ul li.sonuclar_li img {
  width: 100%;
  border-radius: 5px;
}

#arsiv .sonuclar ul.sonuclar_ul li.sonuclar_li .info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

#arsiv .sonuclar ul.sonuclar_ul li.sonuclar_li .info .name {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 6px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

#arsiv .sonuclar ul.sonuclar_ul li.sonuclar_li .info .name span {
  color: #fff;
  float: right;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#432998), to(#874EAB));
  background: linear-gradient(#432998, #874EAB);
  font-size: 14px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.66);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.66);
  text-shadow: none;
}

#arsiv .sonuclar ul.sonuclar_ul li.sonuclar_li .info .sene {
  margin-bottom: 50px;
  font-weight: 600;
  color: #ccc;
}

#arsiv .sonuclar ul.sonuclar_ul li.sonuclar_li .info .actors {
  text-align: center;
}

#arsiv .sonuclar ul.sonuclar_ul li.sonuclar_li .info .actors li {
  float: none;
  margin-right: 5px;
  display: inline-block;
}

#arsiv .sonuclar ul.sonuclar_ul li.sonuclar_li .info .actors li:last-child {
  margin-right: 0;
}

#arsiv .sonuclar ul.sonuclar_ul li.sonuclar_li .info .actors li img {
  width: 45px;
  opacity: 0.7;
  height: 68px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

#arsiv .sonuclar ul.sonuclar_ul li.sonuclar_li .info .actors li img:hover {
  opacity: 1;
}

#arsiv .sonuclar ul.sonuclar_ul li.sonuclar_li .info:hover {
  background: rgba(0, 0, 0, 0.4);
}

.sayfalama {
  margin-bottom: 50px;
}

.sayfalama ul li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sayfalama ul li a {
  display: inline-block;
  border-radius: 3px;
  background: #1e2346;
  font-weight: 600;
  color: #fff;
  padding: 3px 0px;
  text-align: center;
  width: 30px;
}

.sayfalama ul li a.aktif {
  background: #fa3556;
}

#yorumlar {
  background: #090D1C;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

#yorumlar .yorum_yok {
  padding: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #6674ab;
}

#yorumlar .yorumlar {
  min-height: 300px;
  float: left;
  width: 600px;
}

#yorumlar .yorumlar .yorum_yap {
  position: relative;
}

#yorumlar .yorumlar .yorum_yap textarea {
  width: 100%;
  border: 3px solid #2e3b6b;
  background: transparent;
  border-radius: 10px;
  height: 70px;
  padding: 10px;
  resize: none;
}

#yorumlar .yorumlar .yorum_yap button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background: #3988FF;
  font-weight: bold;
}

#yorumlar .yorumlar .yorum_yap button:hover {
  opacity: 0.8;
}

#yorumlar .yorumlar ul {
  margin-top: 20px;
}

#yorumlar .yorumlar ul li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

#yorumlar .yorumlar ul li .left {
  float: left;
  margin-right: 20px;
}

#yorumlar .yorumlar ul li .left img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

#yorumlar .yorumlar ul li .right {
  float: left;
  width: 530px;
}

#yorumlar .yorumlar ul li .right .top {
  margin-bottom: 15px;
}

#yorumlar .yorumlar ul li .right .top .name {
  font-weight: bold;
  color: orange;
  float: left;
  margin-right: 10px;
}

#yorumlar .yorumlar ul li .right .top .tarih {
  color: #ccc;
}

#yorumlar .yorumlar ul li .right p {
  color: #65709a;
}

@media screen and (max-width: 1px) {
  #yorumlar .yorumlar {
    width: 100% !important;
    margin-left: 5px;
  }

  #yorumlar .yorum_yap {
    float: none !important;
  }

  #yorumlar .cast {
    float: none !important;
    margin: 0 !important;
  }

  #yorumlar .cast li {
    width: 172px !important;
  }

  #yorumlar .cast li img {
    height: 255px !important;
  }
}

.cast {
  float: left;
  margin-left: 20px;
  width: 400px;
}

.cast li {
  float: left;
  margin-right: 23px;
  width: 118px;
}

.cast li:nth-child(3n) {
  margin-right: 0;
}

.cast li img {
  width: 100%;
  border-radius: 5px;
  height: 177px;
  opacity: 0.7;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.52);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.52);
}

.cast li .name {
  text-align: center;
  font-weight: 600;
  height: 50px;
  padding-top: 5px;
  overflow: hidden;
}

.cast li:hover img {
  opacity: 1;
}

#auth {
  margin-top: 50px;
  z-index: 1;
}

#auth h1 {
  color: #fff;
  font-size: 21px;
}

#auth .panel {
  background: transparent;
  border: none;
  width: 100%;
}

#auth .panel .panel-heading {
  background: transparent;
  border: none;
}

.auth-bg {
  opacity: 0.1;
  min-height: 800px;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 165px;
  z-index: -1;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#profil {
  margin-top: 30px;
}

#profil .top h1 {
  font-size: 21px;
}

#profil .top .avatar {
  float: left;
}

#profil .top .avatar img {
  width: 110px;
  height: 110px;
  border: 10px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

#profil .top ul.info {
  float: left;
  width: 910px;
}

#profil .top ul.info li.info {
  float: left;
  padding: 0 20px;
  text-align: center;
  height: 110px;
}

#profil .top ul.info li.info .text {
  margin-top: 25px;
  font-size: 17px;
  color: #959dd8;
}

#profil .top ul.info li.info span {
  font-size: 21px;
  color: orange;
  font-weight: bold;
}

#profil .top ul.info li.info:last-child {
  float: right;
  padding-right: 0;
}

#listeler .slogan {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: lighter;
  color: #824baa;
}

#listeler .liste_vitrin {
  position: relative;
  min-height: 400px;
  -webkit-box-shadow: 5px 15px 5px rgba(0, 0, 0, 0.36);
          box-shadow: 5px 15px 5px rgba(0, 0, 0, 0.36);
  border-radius: 10px;
  margin-bottom: 40px;
}

#listeler .liste_vitrin .bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.1;
  border-radius: 5px;
}

#listeler .liste_vitrin .left {
  float: left;
}

#listeler .liste_vitrin .left .baslik {
  font-size: 21px;
  font-weight: bold;
  margin-left: 20px;
}

#listeler .liste_vitrin .left .puan {
  color: orange;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 20px;
}

#listeler .liste_vitrin .right {
  float: right;
  margin-right: 20px;
}

#listeler .liste_vitrin .right img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#listeler .liste_vitrin .right span {
  font-size: 21px;
  margin-left: 10px;
  line-height: 50px;
}

#listeler .liste_vitrin .filmler {
  text-align: center;
}

#listeler .liste_vitrin .filmler .puan {
  color: #fff;
}

#listeler .liste_vitrin .filmler li {
  opacity: 0.66;
  float: none;
  display: inline-block;
  margin-left: 20px;
}

#listeler .liste_vitrin .kesfet {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#listeler .liste_vitrin .kesfet a {
  padding: 10px 30px;
  border: 3px solid #3988FF;
  border-radius: 50px;
  font-size: 21px;
  background: transparent;
  -webkit-transition: 500ms background;
  transition: 500ms background;
}

#listeler .liste_vitrin .kesfet a:hover {
  background: #3988FF;
}

#liste .head {
  margin-top: 40px;
  margin-bottom: 40px;
}

#liste .head .left {
  float: left;
}

#liste .head .left .name {
  font-size: 21px;
  font-weight: bold;
}

#liste .head .left .puan span {
  color: orange;
  font-weight: bold;
}

#liste .head .right {
  float: right;
}

#liste .head .right img {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#liste .head .right .name {
  float: right;
  margin-left: 20px;
  font-size: 21px;
  line-height: 50px;
}

#liste .film {
  position: relative;
  height: 265px;
  overflow: hidden;
}

#liste .film .bilgi {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.76);
}

#liste .film .bilgi .left {
  float: left;
}

#liste .film .bilgi .left img {
  width: 150px;
  border-radius: 5px;
}

#liste .film .bilgi .right {
  float: right;
  width: 800px;
}

#liste .film .bilgi .right .name {
  font-size: 21px;
  font-weight: bold;
}

#liste .film .bilgi .right .name span {
  color: orange;
}

#liste .film .bilgi .right .kategoriler {
  margin-top: 15px;
  margin-bottom: 15px;
}

#liste .film .bilgi .right .kategoriler a {
  margin-right: 10px;
  padding: 5px 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-size: 13px;
  border-radius: 50px;
  -webkit-transition: 350ms border-color;
  transition: 350ms border-color;
}

#liste .film .bilgi .right .kategoriler a:hover {
  border-color: #fff;
}

#liste .film .bilgi .right .konu {
  color: #808a9e;
}

.modal .modal-title {
  font-size: 21px;
  float: left;
  color: #222;
}

.modal .close {
  margin-top: 7px;
}

.modal .modal-body {
  color: #222;
}

.modal .modal-close {
  background: #9c9898;
  font-weight: 600;
}

#customAlert .modal-header {
  display: none;
}

#customAlert .modal-dialog {
  width: 300px;
  text-align: center;
  margin-top: 250px;
}

#customAlert .modal-footer {
  padding: 5px;
}

.arama_sonuclari .kat_films li {
  width: 100% !important;
  overflow: hidden;
}

.arama_sonuclari .kat_films li .name {
  border-radius: 0 !important;
}

.oyuncular li {
  float: left;
  width: 185px;
  margin-right: 38px;
}

.oyuncular li .img {
  height: 278px;
  width: 100%;
  background: rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.55);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.55);
}

.oyuncular li .img img {
  border-radius: 5px;
}

.oyuncular li:nth-child(2n) {
  margin-right: 0;
}

.oyuncular li .name {
  height: 50px;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
}

.container {
  min-height: 700px;
}

@media screen and (max-width: 1px) {
  .container {
    min-height: 400px !important;
  }
}

#footer {
  background: #090B1A;
  border-top: 10px solid rgba(0, 0, 0, 0.33);
  min-height: 200px;
  padding-top: 15px;
  margin-top: 20px;
}

@media screen and (max-width: 1px) {
  #footer {
    padding: 20px;
  }
}

[v-cloak] {
  display: none;
}

