* {
    margin:0; padding:0; list-style: none;
}
body {
    color:#fff;
    background: #0E1127;
}
.container-fluid {
    padding: 0 !important;
}
.clear {
    clear: both;
}
.row {
     margin-right: 0 !important;
}
[v-cloak] {
    display: none;
}
#header {
    border-top: 5px solid rgba(0,0,0,.12);
    background: rgba(66,40,151,1);
    background: -moz-linear-gradient(left, rgba(66,40,151,1) 0%, rgba(135,78,171,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(66,40,151,1)), color-stop(100%, rgba(135,78,171,1)));
    background: -webkit-linear-gradient(left, rgba(66,40,151,1) 0%, rgba(135,78,171,1) 100%);
    background: -o-linear-gradient(left, rgba(66,40,151,1) 0%, rgba(135,78,171,1) 100%);
    background: -ms-linear-gradient(left, rgba(66,40,151,1) 0%, rgba(135,78,171,1) 100%);
    background: linear-gradient(to right, rgba(66,40,151,1) 0%, rgba(135,78,171,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#422897', endColorstr='#874eab', GradientType=1 );

    .top {
        padding: 20px;
        .logo {
            font-size:16px; font-weight: bold;
        }
        .user {
            .col {
                padding:0;
            }
            a {
                padding: 0; color:#fff; font-weight: bold;
                i {
                    color:orange;
                }
            }
        }
    }

    

    .menu {
        background: rgba(255,255,255,0.1);
        padding-top: 5px;
        padding-bottom: 5px;
        .btn {
            margin-left: 20px;
            background: transparent; color:#fff; border: none;
            padding-left: 0;
            &:focus {
                box-shadow: none;
            }
        }
        .input-group {
            margin-bottom: 0 !important;
            input {
                background: transparent; color:#fff;
                border:none; outline: none !important;
                &:focus {
                    box-shadow: none !important;
                }
                &::placeholder {
                    color:#ccc;
                }
            }
            span {
                background: transparent; color:#fff;
                border: none;
            }
        }
    }
}

#content {
    padding: 20px;
    h5 {
        color:#666c98;
        border-bottom: 3px dotted #1f254c;
        font-size: 14px; font-weight: bold;
        padding-bottom: 10px; margin-bottom: 20px;
    }

    .filmler {
        .film {
            margin-bottom: 10px;
            img {
                width: 100%;
                border-radius: 5px;
                box-shadow: 3px 3px 3px rgba(0,0,0,.56);
                height: 218px;
            }
            .name {
                height: 50px; overflow: hidden; color:#676e9e;
                font-weight: bold;
                margin-top: 5px;
                text-align: center;
                .puan {
                    color: orange;
                }
            }
        }
    }
}

.film-detay {
    .name {
        font-weight: bold; font-size: 17px;
    }

    .detay {
        margin-top: 10px;
        li {
            font-weight: bold;
            span {
                color: orange;
            }
        }
    }
}
.yorumlar {
    margin-top: 20px;
    
}
.konu {
    color: #666c98;
    margin-top: 10px; margin-bottom: 15px;
}
.secenekler {
    text-align: center;
    i {
        color: orange;
    }
    font-weight: bold;
}
.yorum_list {
    ul {
        margin-top: 20px;

        li {
            margin-bottom: 10px; padding-bottom: 10px;
            border-bottom: 1px solid rgba(255, 255, 255,.05);
            .left {
                
                img {
                    width: 50px; height: 50px; border-radius: 50px;
                    border: 2px solid rgba(255, 255, 255, .4);
                }
            }

            .right {

                .top {
                    margin-bottom: 15px;
                    .name {
                        font-weight: bold; color:orange; float:left; margin-right: 10px;
                    }
                    .tarih {
                        color:#ccc;
                    }
                }

                p {
                    color:#65709a;
                }
            }
        }
    }
}

.popMenu {
    position: absolute; left:0; right:0; z-index: 99999;
    display: none;
    li {
        background: #6546A6;
        a {
            color:#fff;
            i {
                color:orange;
            }
        }
    }
}

.sayfalama {
    margin-bottom: 50px;
    ul li {
        float: left; margin-right: 10px; margin-bottom: 10px;
        a {
            display: inline-block; 
            border-radius: 3px; background: #1e2346;
            font-weight: 600; color:#fff; padding: 3px 0px;
            text-align: center; width: 30px;

            &.aktif {
                background: #fa3556;
            }
        }
    }
}


.arsiv_acilir {
    display: none;
    position: absolute; z-index: 9999;
    left:20px; right:20px;
    li {
        background: #6546A6;
        a {
            color:#fff;
            i {
                color: orange;
            }
            font-weight: bold;
        }
    }
}